/* BASIC STYLING */

/* COLOR SCHEME */
:root {
    --primary-color: #2E3440;
    --container-color: #D8DEE9;
    --green: #37CD2A;
    --blue: #2187FF;
}

/* STYLE */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
}

/* NAV */
nav ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    list-style-type: none;
    align-items: center;
}

nav ul li a img {
    width: 42px;
}

header a h1 {
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: white;
}

/* MAIN */
main {
    margin: 0px 300px;
    color: var(--primary-color);
}

.flex_2_column {
    display: flex;
}

.flex_row {
    display: flex;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .button {
    color: white;
    background-color: var(--green);
    font-weight: bold;
    text-decoration: none;
    padding: 3px 35px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* TEMPLATES */
.container {
    padding: 30px;
    border-radius: 20px;
    background-color: var(--container-color);
    width: 100%;
    margin: 20px 10px
}