{% extends 'template.html' %}

{% block style %}
<link rel="stylesheet" href="../../../../static/css/textpage.css">
{% endblock style %}

{% block script %}
{% endblock script %}

{% block main %}
<main>
    <p id="filename">README.md</p>

    <h1 id="online-identity-generator">Online identity generator</h1>
    <p>This is a online identity generator. A project made for the August 2020 game jam of the Tech with Tim discord server.</p>
    <br>
    <h2 id="owners">Owners</h2>
    <p><a href="https://github.com/donkere-vader">donkere-vader</a><br><a href="https://github.com/one-wq/">one-wq</a><br><a href="https://github.com/geartprogrammer">geartprogrammer</a>  </p>
    <br>
    <h2 id="usage">Usage</h2>
    <!-- When site is live: -->
    <!--
    The site is acctually live! So you don't have to run it locally.  
    Just go to [example.com](https://www.example.com).
    -->
    <p>The site is not yeat live please refer to the <a href="#run-locally">Run locally</a> section to host the site locally.  </p>
    <br>
    <h2 id="run-locally">Run locally</h2>
    <p>To run the site locally please follow the steps below  </p>
    <br>
    <p>Download/ clone the repository:<br><code>git clone https://github.com/donkere-vader/code-jam</code>  </p>
    <br>
    <p>Change working directory to the newly downloaded folder:<br><code>cd code-jam</code>  </p>
    <br>
    <p>Install the requirements:<br><code>python3 -m pip install -r ../requirements.txt</code>  </p>
    <br>
    <p>Run the script:<br><code>python3 online_identity_generator/</code>  </p>
    <br>
    <p>Now open your browser of choice and go to:<br><a href="http://127.0.0.1:5000">127.0.0.1:5000</a>  </p>
    </main>
{% endblock main %}