{% extends 'template.html' %}

{% block style %}
<link rel="stylesheet" href="../../../static/css/output.css">
{% endblock style %}

{% block main %}
<main>
    <div class="container">
        <h2>Output</h2>
        <div class="flex_2_column">
            <div class="column">
                <div class="profile_picture">

                </div>
            </div>
            <div class="column">
                <div style="height: 10px;"></div>

                <p>Online name</p>
                <p><b>{{ current_user.name.get() }}</b></p>

                <div style="height: 10px;"></div>

                <p>Username</p>
                <p><b>{{ current_user.username.get() }}</b></p>

                <div style="height: 10px;"></div>

                <p>Email</p>
                <p><b>{{ current_user.email.email }}</b></p>

                <div style="height: 10px;"></div>

                <p>Passwords</p>
                {% for p in current_user.passwords.passwords %}
                <p><b>{{ p }}</b></p>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock main %}