<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLE -->
    <link rel="stylesheet" href="../../../../static/css/style.css">
    {% block style %}
    {% endblock style %}

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 

    <!-- SCRIPTS -->
    {% block scripts %}
    {% endblock scripts %}

    <title>Online identity generator</title>
</head>
<body>
    <header>
        <a href="../../../">
            <h1>Online identity generator</h1>
        </a>
        <nav>
            <ul>
                <li><a href="../../../">Home</a></li>
                <li><a href="../../../generator">Generator</a></li>
                <li><a href="../../../about">About</a></li>
                <li><a href="https://github.com/one-wq/code-jam">
                    <img src="../../../../static/images/github_logo.png" alt="Link to the github repo">    
                </a></li>
            </ul>
        </nav>
    </header>

    {% block main %}

    {% endblock main %}
</body>
</html>