<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLE -->
    <link rel="stylesheet" href="../../../../static/css/style.css">
    <link rel="stylesheet" href="../../../../static/css/message.css">
    {% block style %}
    {% endblock style %}

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- SCRIPTS -->
    <script src="../../../../static/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../../../static/js/menu.js"></script>
    {% block script %}
    {% endblock script %}

    <title>Online identity generator</title>
</head>
<body>
    <header>
        <a href="../../../">
            <h1>Online identity generator</h1>
        </a>
        <nav class="desktop">
            <ul>
                <li><a href="../../../">Home</a></li>
                <li><a href="../../../generator">Generator</a></li>
                <li><a href="../../../about">About</a></li>
                <li><a href="https://github.com/one-wq/code-jam">
                    <img src="../../../../static/images/github_logo.png" alt="Link to the github repo">    
                </a></li>
            </ul>
        </nav>
        <img class="mobile" src="../../static/images/icons/menu.svg" alt="" onclick="toggle('mobile_nav');">
        <nav id="mobile_nav">
            <ul>
                <li><a href="../../../">Home</a></li>
                <li><a href="../../../generator">Generator</a></li>
                <li><a href="../../../about">About</a></li>
                <li><a href="https://github.com/one-wq/code-jam">
                    <img src="../../../../static/images/github_logo.png" alt="Link to the github repo">    
                </a></li>
            </ul>
        </nav>
    </header>

    {% block main %}

    {% endblock main %}

    <div id="message">
        <p id="message_msg"></p>
        <img onclick="hide('error')" src="../../../../static/images/icons/cross.svg" alt="">
    </div>
</body>
</html>
